.App {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7.5%;
  max-width: 1500px;
}

h1,
h2 {
  text-align: left;
  color: var(--darkblue);
}

.header {
  padding: 2% 0;
}

.logo {
  width: 70px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.hero {
  display: flex;
  width: 100%;
  height: calc(90vh - 100px);
  justify-content: space-between;
  gap: 50px;
}

.heroText {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.heroText h1 {
  color: var(--darkblue);
}

.heroContainer {
  display: flex;
  width: 50%;
  height: 100%;
  position: relative;
}

.image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.blueStyle {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.blueStyle img {
  object-fit: contain;
}

.imgContainer {
  width: 90%;
  height: 90%;
  margin: auto 0 0 auto;
  display: flex;
  z-index: 2;
}

.imgContainer .image {
  object-fit: cover;
  border: 10px solid #e7e7e7;
  border-radius: 0px 170px 0px 74px;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

figure {
  margin: 25px 0;
}

figcaption {
  /* text-transform: uppercase; */
  text-transform: capitalize;
  font-style: italic;
  font-size: 14px;
}

.section-speakers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
  justify-content: center;
  align-items: center;
}

.section-speakers h2 {
  color: var(--darkblue);
  margin-bottom: 70px;
}

.slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slider .slider-btn {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
}

.slider .left-arrow {
  margin-right: 40px;
}

.slider .right-arrow {
  margin-left: 40px;
}

.section-speakers .speaker-list {
  display: flex;
  gap: 40px;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow-x: scroll;
}

.section-speakers .speaker-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.section-speakers .speaker-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px grey;
  border-radius: 10px;
}

/* Handle */
.section-speakers .speaker-list::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
.section-speakers .speaker-list::-webkit-scrollbar-thumb:hover {
  background: var(--darkblue);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.footer h2 {
  color: var(--darkblue);
  margin-bottom: 30px;
}

.footer address {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.footer address a {
  color: var(--black);
  padding-bottom: 1px;
  width: fit-content;
}

.footer address a:hover {
  border-bottom: 2px solid var(--darkblue);
}

.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.social-links li {
  padding: 10px;
}

.social-links li:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .hero {
    flex-direction: column;
    height: fit-content;
  }
  .heroText {
    width: 100%;
  }
  .heroContainer {
    width: 100%;
  }

  .imgContainer {
    margin: 40px 0 0 auto;
  }

  .imgContainer .image {
    border-radius: 0px 100px 0px 74px;
  }
}

@media screen and (max-width: 900px) {
  .slider .slider-btn {
    display: none;
  }

  .section-speakers .speaker-list {
    gap: 40px;
    width: 90%;
  }
}
